In [14]:
## Imports
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine

## Create connection string and engine
username = 'root'
password = 'root'
db_name = 'covid_19'
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/covid_19)

In [15]:
## Death percentage table
q = '''Select SUM(new_cases) as total_cases, 
        SUM(new_deaths) as total_deaths, 
        SUM(new_deaths)/SUM(new_cases)*100 as death_percentage
        From covid_deaths
        Where continent is not null 
        Order By 1,2'''
df_death_percent = pd.read_sql(q, engine)
df_death_percent.info()
df_death_percent.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   total_cases       1 non-null      float64
 1   total_deaths      1 non-null      float64
 2   death_percentage  1 non-null      float64
dtypes: float64(3)
memory usage: 152.0 bytes

   total_cases  total_deaths  death_percentage
0  443974342.0     5969448.0          1.344548

In [16]:
## Total death count by location table
q = '''Select location, SUM(new_deaths) as total_death_count
        From covid_deaths
        Where continent is null 
            and location not in ('World', 'European Union', 'International',
                                    'Upper middle income','High income',
                                    'Lower middle income', 'Low income')
        Group By location
        Order By total_death_count desc'''
df_total_death = pd.read_sql(q, engine)
df_total_death.info()
df_total_death.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   location           6 non-null      object
 1   total_death_count  6 non-null      float64
dtypes: float64(1), object(1)
memory usage: 224.0+ bytes

        location  total_death_count
0         Europe          1724659.0
1  North America          1380039.0
2           Asia          1357219.0
3  South America          1250520.0
4         Africa           248969.0

In [17]:
## Percent of the population infected by location table 
q = '''Select location, population, 
        MAX(total_cases) as highest_infection_count,
        Max((total_cases/population))*100 as percent_population_infected
        From covid_deaths
        Group By location, population
        Order By percent_population_infected desc'''
df_percent_infected1 = pd.read_sql(q, engine)
df_percent_infected1.info()
df_percent_infected1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   location                     238 non-null    object
 1   population                   236 non-null    float64
 2   highest_infection_count      228 non-null    float64
 3   percent_population_infected  227 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.6+ KB

,location,population,highest_infection_count,percent_population_infected
0,Faeroe Islands,49053.0,34658.0,70.654190
1,Andorra,77354.0,38434.0,49.685860
2,Denmark,5813302.0,2853236.0,49.081159
3,Gibraltar,33691.0,15622.0,46.368466
4,Slovenia,2078723.0,902744.0,43.427816

In [18]:
## Replace NULL values with zeros in tables
df_percent_infected1 = df.fillna(0)
df_percent_infected1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   location                     238 non-null    object
 1   population                   238 non-null    float64
 2   highest_infection_count      238 non-null    float64
 3   percent_population_infected  238 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.6+ KB

In [19]:
## Percent of the population infected by date table 
q = '''Select location, population, date,
        MAX(total_cases) as highest_infection_count,
        Max((total_cases/population))*100 as percent_population_infected
        From covid_deaths
        Group By Location, Population, date
        Order By percent_population_infected desc'''
df_percent_infected2 = pd.read_sql(q, engine)
df_percent_infected2.info()
df_percent_infected2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166326 entries, 0 to 166325
Data columns (total 5 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   location                     166326 non-null  object
 1   population                   165251 non-null  float64
 2   date                         166326 non-null  object
 3   highest_infection_count      163293 non-null  float64
 4   percent_population_infected  162535 non-null  float64
dtypes: float64(3), object(2)
memory usage: 6.3+ MB

,location,population,date,highest_infection_count,percent_population_infected
0,Faeroe Islands,49053.0,2022-03-02,34658.0,70.654190
1,Faeroe Islands,49053.0,2022-03-03,34658.0,70.654190
2,Faeroe Islands,49053.0,2022-03-04,34658.0,70.654190
3,Faeroe Islands,49053.0,2022-03-05,34658.0,70.654190
4,Faeroe Islands,49053.0,2022-03-01,34383.0,70.093572

In [20]:
## Replace NULL values with zeros in tables
df_percent_infected2 = df_percent_infected2.fillna(0)
df_percent_infected2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166326 entries, 0 to 166325
Data columns (total 5 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   location                     166326 non-null  object
 1   population                   166326 non-null  float64
 2   date                         166326 non-null  object
 3   highest_infection_count      166326 non-null  float64
 4   percent_population_infected  166326 non-null  float64
dtypes: float64(3), object(2)
memory usage: 6.3+ MB

In [21]:
## Saving tables as excel files
df_death_percent.to_excel('Data/Tableau Tables/death_percentage_tableau.xlsx')
df_total_death.to_excel('Data/Tableau Tables/total_death_count_tableau.xlsx')
df_percent_infected1.to_excel('Data/Tableau Tables/percent_population_infected1_tableau.xlsx')
df_percent_infected2.to_excel('Data/Tableau Tables/percent_population_infected2_tableau.xlsx')

C:\Users\hamma\AppData\Local\Temp\ipykernel_9924\3680258009.py:2: UserWarning: Pandas requires version '3.0.5' or newer of 'xlsxwriter' (version '3.0.3' currently installed).
  df_death_percent.to_excel('Data/Tableau Tables/death_percentage_tableau.xlsx')
C:\Users\hamma\AppData\Local\Temp\ipykernel_9924\3680258009.py:3: UserWarning: Pandas requires version '3.0.5' or newer of 'xlsxwriter' (version '3.0.3' currently installed).
  df_total_death.to_excel('Data/Tableau Tables/total_death_count_tableau.xlsx')
C:\Users\hamma\AppData\Local\Temp\ipykernel_9924\3680258009.py:4: UserWarning: Pandas requires version '3.0.5' or newer of 'xlsxwriter' (version '3.0.3' currently installed).
  df_percent_infected1.to_excel('Data/Tableau Tables/percent_population_infected1_tableau.xlsx')
C:\Users\hamma\AppData\Local\Temp\ipykernel_9924\3680258009.py:5: UserWarning: Pandas requires version '3.0.5' or newer of 'xlsxwriter' (version '3.0.3' currently installed).
  df_percent_infected2.to_excel('Data/Tableau Tables/percent_population_infected2_tableau.xlsx')